<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="form-horizontal">
      <div class="card">
        <div class="card-header">
          <strong>Müşteri</strong> Ekle
        </div>
            <div class="col-sm-12 col-md-5 card-body">
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="company">Firma Adı</label>
                <div class="col-md-9">
                  <input  formControlName="company" type="text" id="company" name="company" class="form-control" placeholder="Firma Adı">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="adress">Adres</label>
                <div class="col-md-9">
                  <textarea formControlName="adress" id="adress" name="adress" rows="3" class="form-control" placeholder="Adres"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="country">Ülke</label>
                <div class="col-md-9">
                  <select  name="country" class="form-control" id="country">
                    <option selected>Türkiye</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="city">İl</label>
                <div class="col-md-9">
                  <select formControlName="city" name="city" appCities (cities)="cities = $event" class="form-control" id="city" #citydrp>
                    <option value="Seçiniz">Seçiniz</option>
                    <option *ngFor="let c of cities" value="{{c.city.name}}"> {{c.city.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="town">İlçe</label>
                <div class="col-md-9">
                  <select formControlName="town"  name="town" class="form-control" id="town" appTowns (towns)="towns = $event" [selectedCity]="citydrp.value">
                    <option value="Seçiniz">Seçiniz</option>
                    <option *ngFor="let t of towns" value="{{t.name}}"> {{t.name}} </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="email">E-posta</label>
                <div class="col-md-9">
                  <input formControlName="email" type="email" id="email" name="email" class="form-control" placeholder="E-posta">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="password">Şifre</label>
                <div class="col-md-9">
                  <input formControlName="password" type="text" id="password" name="password" class="form-control" placeholder="Şifre">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="phone">Telefon</label>
                <div class="col-md-9">
                  <input formControlName="phone" type="number" id="phone" name="phone" class="form-control" placeholder="Telefon No">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="name">İlgili Adı</label>
                <div class="col-md-9">
                  <input formControlName="name" type="text" id="name" name="name" class="form-control" placeholder="İlgili Adı">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="lastname">İlgili Soyadı</label>
                <div class="col-md-9">
                  <input formControlName="lastname" type="text" id="lastname" name="lastname" class="form-control" placeholder="İlgili Soyadı">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Aktif/Pasif</label>
                <div class="col-md-9 text-right">
                  <label class="switch switch-3d switch-primary">
                    <input formControlName="state" name="state" id="state"  (change)="onCheckboxChange($event)" class="switch-input" type="checkbox">
                    <span class="switch-label"></span>
                    <span class="switch-handle"></span>
                  </label>
                </div>
              </div>
            </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary">{{this.id ? 'Güncelle' : 'Kaydet'}}</button>
          <button type="{{this.id ? 'button' : 'reset'}}" (click)="this.id ? this.onDelete() : return" class="btn btn-sm btn-danger">{{this.id ? 'Müşteri Sil' : 'Temizle'}}</button>
        </div>
      </div>
      </form>
    </div>
  </div><!--/.row-->
</div>

