<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="form-horizontal">
      <div class="card">
        <div class="card-header">
          <strong>Müşteri</strong> Ekle
        </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-5 card-body">
              <div class="form-group">
                <label for="company">Firma Adı*</label>
                <input  formControlName="company"  id="company" name="company" class="form-control" placeholder="Firma Adı">
              </div>
              <div class="form-group">
                <label for="tax_name">Vergi Dairesi*</label>
                <input  formControlName="tax_name"  id="tax_name" name="tax_name" class="form-control" placeholder="Vergi Dairesi">
              </div>
              <div class="form-group">
                <label for="tax_number">Vergi No*</label>
                <input  formControlName="tax_number"  id="tax_number" name="tax_number" class="form-control" placeholder="Vergi No">
              </div>
              <div class="form-group">
                <label for="adress">Adres*</label>
                <textarea formControlName="adress" id="adress" name="adress" rows="3" class="form-control" placeholder="Adres"></textarea>
              </div>
              <div class="form-group">
                <label for="country">Ülke</label>
                <select  name="country" class="form-control" id="country">
                  <option selected>Türkiye</option>
                </select>
              </div>
              <div class="form-group">
                <label for="city">İl*</label>
                <select formControlName="city" name="city" appCities (cities)="cities = $event" class="form-control" id="city" #citydrp>
                  <option value="Seçiniz">Seçiniz</option>
                  <option *ngFor="let c of cities" value="{{c.city.name}}"> {{c.city.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="town">İlçe*</label>
                <select formControlName="town"  name="town" class="form-control" id="town" appTowns (towns)="towns = $event" [selectedCity]="citydrp.value">
                  <option value="Seçiniz">Seçiniz</option>
                  <option *ngFor="let t of towns" value="{{t.name}}"> {{t.name}} </option>
                </select>
              </div>
              <div class="form-group">
                <label for="email">E-posta*</label>
                <input formControlName="email" type="email" id="email" name="email" class="form-control" placeholder="E-posta">
              </div>
              <div class="form-group">
                <label for="password">Şifre*</label>
                <input formControlName="password" type="password" id="password" name="password" class="form-control" placeholder="Şifre">
              </div>
              <div class="form-group">
                <label for="phone">Telefon*</label>
                <input formControlName="phone" appRegex [regex]="'^[0-9]+$'"  id="phone" name="phone" class="form-control" placeholder="Telefon No">
              </div>
              <div class="form-group">
                <label for="name">İlgili Adı*</label>
                <input formControlName="name"  id="name" name="name" class="form-control" placeholder="İlgili Adı">
              </div>
              <div class="form-group">
                <label for="lastname">İlgili Soyadı*</label>
                <input formControlName="lastname"  id="lastname" name="lastname" class="form-control" placeholder="İlgili Soyadı">
              </div>
              <div class="form-group">
                <label>Aktif/Pasif</label>
                <label class="switch switch-3d switch-primary">
                  <input formControlName="state" name="state" id="state"  (change)="onCheckboxChange($event)" class="switch-input" type="checkbox">
                  <span class="switch-label"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
              <div class="card-text">* doldurulması zorunlu alanlar.</div>
            </div>
        <div class="card-footer">
          <button type="submit" [disabled]="!customerForm.valid" class="btn btn-sm btn-primary">{{this.id ? 'Güncelle' : 'Kaydet'}}</button>
          <button type="{{this.id ? 'button' : 'reset'}}" (click)="this.id ? this.onDelete() : return" class="btn btn-sm btn-danger">{{this.id ? 'Müşteri Sil' : 'Temizle'}}</button>
          <p class="card-text" style="float: right;">
          <span *ngIf="customerForm.get('created_date').value">Eklenen Tarih: {{customerForm.get('created_date').value | date: 'dd/MM/yyyy'}}</span>
            <br>
          <span *ngIf="customerForm.get('updated_date').value">Son Güncelleme: {{customerForm.get('updated_date').value | date: 'dd/MM/yyyy'}}</span>
          </p>
        </div>
      </div>
      </form>
    </div>
  </div><!--/.row-->
</div>

