<div class="modal-header">
  <h4 class="modal-title pull-left">  <h2> Şifre Güncelle</h2></h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="col-xs-12card-body">
      <div class="form-group">
        <label for="password">Şifreniz*</label>
        <input type="password" formControlName="password"  id="password" name="password" class="form-control" placeholder="Mevcut şifreniz">
      </div>
      <div class="form-group">
        <label for="newPassword">Yeni Şifre*</label>
        <input type="password" formControlName="newPassword"  id="newPassword" name="newPassword" class="form-control" placeholder="Yeni şifre">
      </div>
      <div class="form-group">
        <label for="reply">Şifre tekrar*</label>
        <input type="password" formControlName="reply"  id="reply" name="reply" class="form-control" placeholder="Şifre tekrar">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="!changePasswordForm.valid || changePasswordForm.value.reply != changePasswordForm.value.newPassword" class="btn btn-sm btn-primary">Tamam</button>
    </div>
  </form>
</div>
