<div class="animated fadeIn">

  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Personeller ({{personnelList.length}})
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-md">
            <thead>
            <tr>
              <th>Ad Soyad</th>
              <th>Kullanıcı Adi</th>
              <th>Kayıt</th>
              <th>Durum</th>
            </tr>
            </thead>
            <tbody>
            <tr class="linked-table-row" *ngFor='let item of personnelList'  [routerLink]="['/personnel/edit', item.id]">
              <td>{{item.name | capitalizeFirst }} {{item.lastname | capitalizeFirst}}</td>
              <td>{{item.username}}</td>
              <td>{{item.created_date}}</td>
              <td>
                <span [ngClass]="item.state ? 'badge badge-success' : 'badge badge-danger'">{{item.state ? 'Aktif' : 'Pasif'}}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
