<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12 hidden-xs-down">
      <div class="card ">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Stok Kartları ({{stockCardList.length}})
        </div>
        <div class="card-body">
          <div class="card-group">
            <div class="card">
              <div class="card-header">Filtre</div>
              <div class="card-body">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <div class="controls">
                      <div class="input-group">
                        <div class="input-group-btn" dropdown>
                          <button type="button" class="btn btn-primary dropdown-toggle" dropdownToggle>{{searchCriteri.name}}
                            <span class="caret"></span>
                          </button>
                          <div class="dropdown-menu" *dropdownMenu>
                            <a (click)="setSearchCriteria({name:'Kod', key: 'code'})" class="dropdown-item">Kod</a>
                            <a (click)="setSearchCriteria({name:'Tanım', key: 'name'})" class="dropdown-item">Tanım</a>
                          </div>
                        </div>
                        <input class="form-control"  (keydown)="searchTerm = searchTxt.value" placeholder="Aramak istediğiniz ürün kodu veya tanımı" id="appendedInputButtons" size="16" #searchTxt>
                        <button style="margin-left: 5px;" class="btn btn-primary" (click)="saveAsExcel()" type="button"><i class="fa fa-file-excel-o"></i> Excel İndir</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered table-striped table-md">
            <thead>
            <tr>
              <th>Kodu</th>
              <th>Tanım</th>
              <th>Adet</th>
              <th>Tip</th>
              <th>İşlem</th>
            </tr>
            </thead>
            <tbody>

            <tr class="linked-table-row" *ngFor="let item of stockCardList | filter : searchCriteri.key : searchTerm" (click)="navigateDetail($event, item.id)">
              <td>{{item.code | capitalizeFirst}}</td>
              <td>{{item.name}}</td>
              <td>{{item.unit}}</td>
              <td>{{item.stock_type | capitalizeFirst }}</td>
              <td>
                <button class="btn btn-primary btn-sm"  [routerLink]="['/stockcards/stockmovement', item.id]" type="button" tooltip="Stok hareketlerini incele." container="body" placement="top">
                  <i class="icon-graph icons"></i>
                </button>
                <button class="btn btn-success btn-sm"  (click)="openModal(template, item, true)" type="button" tooltip="Stok Girişi." container="body" placement="top">
                  <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-danger btn-sm" (click)="openModal(template, item, false)"  type="button" tooltip="Stok Çıkışı." container="body" placement="top">
                  <i class="fa fa-minus"></i>
                </button>
                <button class="btn btn-primary btn-sm"  (click)="openModal(stockRequest, item, false)" type="button" tooltip="Tedarik talebi kaydı" container="body" placement="top">
                  <i class="icon-basket icons"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <p class="text-right"><span class="help-block">  {{(stockCardList | filter : 'code' : searchTxt.value).length}} sonuç bulundu. </span></p>
          <div class="card card-accent-warning">
            <div class="card-header">
              Bilgi !
            </div>
            <div class="card-body">
            Üretim aşamasındaki stok kartları silinemez. Stok kartlarının stok düzenlenmesi <b>İşlem</b> alından gerçekleşmektedir. <br/> <b>Stok Girişi</b>  için  <button class="btn btn-success btn-sm" type="button"><i class="fa fa-plus"></i></button>
              seçeneği <b>Stok Çıkışı</b> için  <button class="btn btn-danger btn-sm" type="button"><i class="fa fa-times"></i></button> seçeneğini kullanabilirsiniz. <b>Stok Hareketlerini incelemek için </b>
              <button class="btn btn-primary btn-sm" type="button"><i class="icon-graph icons"></i></button> seçeneğini kullanınız.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>


<!-- change stock of stock card-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{selectedStockCard.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="supplierdrp.length === 1" class="card text-white bg-danger text-center">
      <div class="card-body">
        <blockquote class="card-bodyquote">
          <p>Stok kayıt etmeden önce sisteme en az 1 <b>Tedarikçi</b> tanımlamanız gerekmektedir.</p>
          <button class="btn btn-success btn-sm"  [routerLink]="['/supplier/add']" (click)="modalRef.hide()" type="button">Tedarikçi Ekle</button>
        </blockquote>
      </div>
    </div>
    <form [formGroup]="stockChangeForm" class="form-horizontal">
      <strong>Yeni stok kaydı girmek üzeresiniz !  </strong>
      <div class="form-group">
        <label class="form-control-label" for="unit">Adet</label>
        <div class="controls">
          <input [attr.disabled]="supplierdrp.length === 1 ? '' : null"  type="number" formControlName="unit" id="unit" name="unit" class="form-control" placeholder="Adet">
        </div>

      </div>
      <div class="form-group">
        <label class="form-control-label" for="waybill">İrsaliye No</label>
        <div class="controls">
          <input [attr.disabled]="supplierdrp.length === 1 ? '' : null"  formControlName="waybill" id="waybill" name="waybill" class="form-control" placeholder="İrsaliye No">
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="supplier">Tedarikçi</label>
        <div class="controls">
          <select [attr.disabled]="supplierdrp.length === 1 ? '' : null"  formControlName="supplier" #supplierdrp name="supplier" appSuppliers (suppliers)="suppliers = $event" class="form-control" id="supplier">
            <option selected value="Seçiniz">Seçiniz</option>
            <option *ngFor="let d of suppliers; let i = index" value="{{d.company}}"> {{d.company}} </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="not">Not</label>
        <div class="controls">
          <textarea [attr.disabled]="supplierdrp.length === 1 ? '' : null"  formControlName="not" id="not" name="not" class="form-control" placeholder="Not"></textarea>
        </div>
      </div>
      <button [disabled]="!stockChangeForm.valid" type="button" (click)="changeStock(selectedStockCard.id)" class="btn btn-sm btn-primary">Ekle</button>
      <button type="button" (click)="modalRef.hide()" class="btn btn-sm btn-danger">İptal</button>
    </form>
  </div>
</ng-template>
<!--/  change stock of stock card -->


<!--/  new stock requistions -->
<ng-template #stockRequest>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{selectedStockCard.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="supplierdrp.length == 1" class="card text-white bg-danger text-center">
      <div class="card-body">
        <blockquote class="card-bodyquote">
          <p>Stok kayıt etmeden önce sisteme en az 1 <b>Tedarikçi</b> tanımlamanız gerekmektedir.</p>
          <button class="btn btn-success btn-sm"  [routerLink]="['/supplier/add']" (click)="modalRef.hide()" type="button">Tedarikçi Ekle</button>
        </blockquote>
      </div>
    </div>
    <form [formGroup]="stockRequestForm" class="form-horizontal">
      <div class="form-group">
        <label class="form-control-label" for="_unit">Sipariş Adedi</label>
        <div class="controls">
          <input #unit [attr.disabled]="supplierdrp.length === 1 ? '' : null"  type="number" formControlName="unit" id="_unit" name="unit" class="form-control" placeholder="Adet">
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="delivary_date">Teslim Tarihi</label>
        <div class="controls">
          <input class="form-control" id="delivary_date" placeholder="Teslim tarihi belirtin." bsDatepicker [bsConfig]="bsConfig" formControlName="delivery_date" />
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="_supplier">Tedarikçi</label>
        <div class="controls">
          <select [attr.disabled]="supplierdrp.length === 1 ? '' : null"  formControlName="supplier" #supplierdrp name="supplier" appSuppliers (suppliers)="suppliers = $event" class="form-control" id="_supplier">
            <option value="Seçiniz">Seçiniz</option>
            <option *ngFor="let d of suppliers; let i = index" value="{{d.company}}"> {{d.company}} </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-6 form-control-label">İleti Gönder</label>
        <div class="col-md-6 text-right">
          <label class="switch switch-3d switch-primary">
            <input formControlName="notify" name="notify" id="notify"  (change)="onCheckboxChange($event); this.requestMessage = rqMessage.value" class="switch-input" type="checkbox">
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
      </div>


      <div *ngIf="this.isEmailSend === true" style="width: 100%;" class="btn btn-success active text-center">
        <blockquote>
          <p>Tedarikçi firmanın e-posta adresine otomatik ileti gönderilecektir.</p>
        </blockquote>
      </div>

      <div class="form-group">
        <div class="controls">
          <textarea [disabled]="!this.isEmailSend" class="form-control" #rqMessage (keyup)="this.requestMessage = rqMessage.value" id="_message" rows="3">Merhaba, {{selectedStockCard.name}}kod üründen {{unit.value}} adet sipariş. Buraya otomatik sipariş metni oluşturulabilir.
          </textarea>


        </div>
      </div>


      <button [disabled]="!stockRequestForm.valid" type="button" (click)="addStockRequest(selectedStockCard.id, rqMessage.value)" class="btn btn-sm btn-primary">Ekle</button>
      <button type="button" (click)="modalRef.hide()" class="btn btn-sm btn-danger">İptal</button>
    </form>


  </div>
</ng-template>
<!--/  new stock requistions -->



