<div class="animated fadeIn">

  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Stok Kartları ({{stockCardList.length}})
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-md">
            <thead>
            <tr>
              <th>Kodu</th>
              <th>Tanım</th>
              <th>Adet</th>
              <th>Tip</th>
              <th>İşlem</th>
            </tr>
            </thead>
            <tbody>
            <tr class="linked-table-row" *ngFor='let item of stockCardList'>
              <td>{{item.code | capitalizeFirst}}</td>
              <td>{{item.name}}</td>
              <td>{{item.unit}}</td>
              <td>{{item.stock_type | capitalizeFirst }}</td>
              <td>
                <button class="btn btn-primary btn-sm"  type="button" tooltip="Stok hareketlerini incele." container="body" placement="top">
                  <i class="icon-graph icons"></i>
                </button>
                <button class="btn btn-success btn-sm"  (click)="openModal(template, item)" type="button" tooltip="Stok Girişi." container="body" placement="top">
                  <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-danger btn-sm" type="button" tooltip="Stok Çıkışı." container="body" placement="top">
                  <i class="fa fa-times"></i>
                </button>
              </td>

            </tr>
            </tbody>
          </table>
          <div class="card card-accent-warning">
            <div class="card-header">
              Bilgi !
            </div>
            <div class="card-body">
            Üretim aşamasındaki stok kartları silinemez. Stok kartlarının stok düzenlenmesi <b>İşlem</b> alından gerçekleşmektedir. <br/> <b>Stok Girişi</b>  için  <button class="btn btn-success btn-sm" type="button"><i class="fa fa-plus"></i></button>
              seçeneği <b>Stok Çıkışı</b> için  <button class="btn btn-danger btn-sm" type="button"><i class="fa fa-times"></i></button> seçeneğini kullanabilirsiniz. <b>Stok Hareketlerini incelemek için </b>
              <button class="btn btn-primary btn-sm" type="button"><i class="icon-graph icons"></i></button> seçeneğini kullanınız.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->



  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{selectedStockCard.name}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="stockCardAddForm" (ngSubmit)="addStock()" class="form-horizontal">
        <strong>Yeni stok kaydı girmek üzeresiniz !</strong>

        <div class="form-group">
          <label class="form-control-label" for="unit">Adet</label>
          <div class="controls">
            <input  formControlName="unit" id="unit" name="unit" class="form-control" placeholder="Adet">
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="waybill">İrsaliye No</label>
          <div class="controls">
            <input formControlName="waybill" id="waybill" name="waybill" class="form-control" placeholder="İrsaliye No">
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="suppliers">Tedarikçi</label>
          <div class="controls">
            <select formControlName="suppliers" name="suppliers" appSuppliers (suppliers)="suppliers = $event" class="form-control" id="suppliers">
              <option value="Seçiniz">Seçiniz</option>
              <option *ngFor="let d of suppliers" value="{{d.company}}"> {{d.company}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="not">Not</label>
          <div class="controls">
            <textarea  formControlName="not" id="not" name="not" class="form-control" placeholder="Not"></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-sm btn-primary">Ekle</button>
        <button type="button" (click)="modalRef.hide()" class="btn btn-sm btn-danger">İptal</button>

      </form>
    </div>
  </ng-template>

</div>
