<div class="animated fadeIn">

  <!--/.row-->
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <img style="height: 70px" onerror="this.src='../../assets/img/no-img.png'"  src="http://192.168.1.222:8080/files/{{stockcard_id}}/photo/photo.jpg">
          <h2 style="display: inline; color:#666;">{{ title | capitalizeFirst}}</h2>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-xs-12">
    <div class="card">
      <div class="card-body">
        <p>Sipariş ile ilgili tüm doküman kayıtlarına aşağıda ulaşabilirsiniz.</p>
        <button  (click)="openModal();" class="btn btn-success btn-sm"><i class="icon-docs icons"></i> Yeni Doküman Ekle</button>
      </div>
    </div>
   </div>
  </div>
</div>
