<div class="animated fadeIn">

  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Tedarik İstekleri ({{this.supplyRequistions.length}})
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-md">
            <thead>
            <tr>
              <th>Tedarikçi</th>
              <th>Adet</th>
              <th>Sipariş Tarihi</th>
              <th>Teslim Tarihi</th>
              <th>Stok Kartı</th>
              <th>Teslim Adet</th>
              <th>Durum</th>
            </tr>
            </thead>
            <tbody>
            <tr class="linked-table-row" *ngFor='let item of supplyRequistions' (click)="openModal(requisition, item, true)">
              <td>{{item.SupplyRequisitions.supplier | capitalizeFirst}}</td>
              <td>{{item.SupplyRequisitions.unit}}</td>
              <td>{{item.SupplyRequisitions.created_date | date: 'dd/MM/yyyy'}}</td>
              <td>{{item.SupplyRequisitions.delivery_date | date: 'dd/MM/yyyy'}}</td>
              <td>{{item.stockcard | capitalizeFirst }} <b>({{item.stockcard_code }})</b></td>
              <td>{{item.SupplyRequisitions.real_unit}}</td>
              <td>
                  <span style="float: right; margin-left: 5px;" class="{{this.tableIconSet[item.SupplyRequisitions.state].class}}">
                  <i class="{{this.tableIconSet[item.SupplyRequisitions.state].icon}}"></i>
                  {{this.tableIconSet[item.SupplyRequisitions.state].text}}
                </span>
                <span tooltip="{{item.SupplyRequisitions.message}}" style="float: right;" *ngIf="item.SupplyRequisitions.message" class="badge badge-warning">
                  <i class="icon-note icons"></i> Oto. Mesaj
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<!--/  requisition -->
<ng-template #requisition>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{selectedRequstions.stockcard}} <span style="font-size:14px">({{selectedRequstions.stockcard_code}})</span></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <div *ngIf="selectedRequstions.state === 1" class="btn btn-success active text-center" style="width: 100%;">
      <blockquote>
        <p>Bu sipariş <b> {{selectedRequstions.updated_date | date: 'dd/MM/yyyy'}} </b> tarihinde teslim alınmıştır. </p>
        <p>Teslim olarak işaretlenmiş sipariş kayıtları üzerinde işlem gerçekleştirilemez.</p>
      </blockquote>
    </div>

    <div *ngIf="selectedRequstions.state === 2" class="btn btn-danger active text-center" style="width: 100%;">
      <blockquote>
        <p>Bu sipariş <b> {{selectedRequstions.updated_date | date: 'dd/MM/yyyy'}} </b> tarihinde <b>iptal</b> edilmiş. </p>
        <p>Yinede işlem gerçekleştirmek istediğinizden emin misiniz ?</p>
      </blockquote>
    </div>

    <form *ngIf="selectedRequstions.state === 0 || selectedRequstions.state === 2" [formGroup]="requistionsForm" class="form-horizontal">
      <div class="form-group">
        <label class="form-control-label" for="waybill">İrsaliye No</label>
        <div class="controls">
          <input [attr.disabled]="this.isCancel?'':null" formControlName="waybill" id="waybill" name="waybill" class="form-control" placeholder="İrsaliye numarası">
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="real_unit">Teslim Alınan Adet</label>
        <div class="controls">
          <input [attr.disabled]="this.isCancel?'':null" formControlName="real_unit" id="real_unit" name="real_unit" class="form-control" placeholder="Teslim alınan adet">
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="state">Durum</label>
        <div class="controls">
          <select id="state" #drpstate (change)="onStateChange(drpstate.value)"  class="form-control" formControlName="state">
            <option value="0">Bekleniyor</option>
            <option value="1">Teslim</option>
            <option value="2">İptal</option>
          </select>
        </div>
      </div>

      <button [disabled]="!this.isCancel ? !requistionsForm.valid : null" type="button" (click)="send(selectedRequstions.id)" class="btn btn-sm btn-primary">Tamam</button>
      <button type="button" (click)="modalRef.hide()" class="btn btn-sm btn-danger">İptal</button>
    </form>


  </div>
</ng-template>
<!--/  requisition -->
