<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <div  class="card">
                <div class="card-header">
                  <div class="card-columns cols-2">
                    <div>
                      <div style="background: none; border: none; margin: 0px;" class="card">
                        <div style="margin: 0px; padding: 0px 0px 0px 10px;" class="card-body">
                          Production
                          <span style="font-size: 12px;display:block">(Please select order for production infos)</span>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div style="background: none; border: none; margin: 0px;" class="card">
                        <div style="margin: 0px; padding: 0px 0px 0px 10px;" class="card-body">
                          <div class="input-group">
                            <input #productionYear class="form-control"  placeholder="2017" type="number">
                            <span class="input-group-btn">
                            <button (click)="onProductionReports(productionYear.value)" class="btn btn-primary" type="button" style="margin-top: 0px;"><i class="icon-chart icons"></i></button>
                           </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart-wrapper">
                    <canvas #chartEl baseChart class="chart"
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div  class="card">
                <div class="card-header">
                  <h4>{{company?.company}}</h4>
                </div>
                <div class="card-body">
                    <p><b>Adress:</b> {{company?.adress}}</p>
                    <p><b>Pbx:</b> {{company?.phone}}</p>
                    <p><b>E-mail:</b> {{company?.email}}</p>
                    <p><b>Last Updated:</b> {{company?.updated_date ? (company?.updated_date | date: 'dd/MM/yyyy') : 'Not updated yet'}}</p>
                    <p><b>Created Date:</b> {{company?.created_date | date: 'dd/MM/yyyy'}}</p>

                  </div>
                  <div class="card-footer bg-transparent">
                    <a href="#">Edit</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>





