<div class="animated fadeIn">

  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6 col-md-2">
              <div class="card">
                <div class="card-body">
                  <div class="h1 text-muted text-right mb-4">
                    <i class="icon-people icons"></i>
                  </div>
                  <div class="h4 mb-0">{{reportsData?.personnels}}</div>
                  <small class="text-muted text-uppercase font-weight-bold">Personel</small>
                  <div class="progress progress-xs mt-3 mb-0">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-info" role="progressbar" style="width: 25%"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="card">
                <div class="card-body">
                  <div class="h1 text-muted text-right mb-4">
                    <i class="icon-drawer icons"></i>
                  </div>
                  <div class="h4 mb-0">{{reportsData?.stockcards}}</div>
                  <small class="text-muted text-uppercase font-weight-bold">Stok Kartı</small>
                  <div class="progress progress-xs mt-3 mb-0">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success" role="progressbar" style="width: 25%"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="card">
                <div class="card-body">
                  <div class="h1 text-muted text-right mb-4">
                    <i class="icon-basket-loaded"></i>
                  </div>
                  <div class="h4 mb-0">{{reportsData?.orders}}</div>
                  <small class="text-muted text-uppercase font-weight-bold">Sipariş</small>
                  <div class="progress progress-xs mt-3 mb-0">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-warning" role="progressbar" style="width: 25%"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="card">
                <div class="card-body">
                  <div class="h1 text-muted text-right mb-4">
                    <i class="icon-speedometer icons"></i>
                  </div>
                  <div class="h4 mb-0">{{reportsData?.production}}</div>
                  <small class="text-muted text-uppercase font-weight-bold">Üretim</small>
                  <div class="progress progress-xs mt-3 mb-0">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar" role="progressbar" style="width: 25%"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="card">
                <div class="card-body">
                  <div class="h1 text-muted text-right mb-4">
                    <i class="icon-star icons"></i>
                  </div>
                  <div class="h4 mb-0">{{reportsData?.customers}}</div>
                  <small class="text-muted text-uppercase font-weight-bold">Müşteri</small>
                  <div class="progress progress-xs mt-3 mb-0">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-danger" role="progressbar" style="width: 25%"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="card">
                <div class="card-body">
                  <div class="h1 text-muted text-right mb-4">
                    <i class="icon-bag icons"></i>
                  </div>
                  <div class="h4 mb-0">{{reportsData?.suppliers}}</div>
                  <small class="text-muted text-uppercase font-weight-bold">Tedarikçi</small>
                  <div class="progress progress-xs mt-3 mb-0">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-info" role="progressbar" style="width: 25%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-columns cols-2">
    <div class="card">
      <div class="card-header">
        <div class="card-columns cols-2">
            <div>
                <div style="background: none; border: none; margin: 0px;" class="card">
                    <div style="margin: 0px; padding: 0px 0px 0px 10px;" class="card-body">
                        Yıllık Üretim 
                        <span style="font-size: 12px;display:block">(mevcut yıl içinde tamamlanan üretim)</span>
                    </div>
                </div>  
            </div>
          <div>
              <div style="background: none; border: none; margin: 0px;" class="card">
                  <div style="margin: 0px; padding: 0px 0px 0px 10px;" class="card-body">
                      <div class="input-group">
                          <input #productionYear class="form-control"  placeholder="2017" type="number"> 
                          <span class="input-group-btn"> 
                            <button (click)="onProductionReports(productionYear.value)" class="btn btn-primary" type="button" style="margin-top: 0px;"><i class="icon-chart icons"></i></button>
                           </span>
                       </div>
                  </div>
              </div>
          </div>  
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="chart-wrapper">
              <canvas #chartEl baseChart class="chart"
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [chartType]="barChartType"></canvas>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 col-md-6">

          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
     
        <div class="card-columns cols-2">
            <div>
                <div style="background: none; border: none; margin: 0px;" class="card">
                    <div style="margin: 0px; padding: 0px 0px 0px 10px;" class="card-body">
                        Kritik Stok Limitindeki Stok Kartları
                        <span style="font-size: 12px;display:block">(Min 50 adet altındaki stok kartları)</span>
                    </div>
                </div>  
            </div>
          <div>
              <div style="background: none; border: none; margin: 0px;" class="card">
                  <div style="margin: 0px; padding: 0px 0px 0px 10px;" class="card-body">
                      <div class="input-group">
                          <input #stockCardUnit class="form-control"  placeholder="Min 50" type="number"> 
                          <span class="input-group-btn"> 
                            <button class="btn btn-primary" (click)="onCriticalStockCards(stockCardUnit.value)" type="button" style="margin-top: 0px;"><i class="icon-chart icons"></i></button>
                           </span>
                       </div>
                  </div>
              </div>
          </div>  
        </div>
      </div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
          <tr>
            <th>Stok Kodu</th>
            <th>Stok Kartı</th>
            <th>Stok</th>
            <th>Durum</th>
          </tr>
          </thead>
          <tbody>

            <tr class="linked-table-row" *ngFor='let item of criticalStocks' [routerLink]="['/stockcards/edit', item.id]">
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.unit}}</td>
            <td>
              <span class="badge badge-danger">Krtik Stok</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Üretim Stok Kartı Dağılımı 
        <span style="display:block;font-size: 12px;">(en çok üretilen ilk 10 stok kartı)</span>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType">
                </canvas>
        </div>
      </div>
    </div>

  </div>


</div>



