// Here you can add other styles
.linked-table-row {
  cursor:pointer;
}
.linked-table-row:hover, .linked-table-row:focus, .linked-table-row:active, .linked-table-row:focus:active{
  background-color: rgba(242, 242, 242, 0.48);
}

.zindex-inmodal {
  z-index: 9999 !important;
}

.stock-selection.form-control:disabled, .stock-selection.form-control[readonly]{
  background-color: #4dbd74;
  opacity: 1;
  color: #fff;
}
.blurred {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
